body {
  background: black;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 1, 0.7), rgba(0, 0, 1, 0.7)),
    url("images/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  font-family: "Braah One", sans-serif;
  color: red;
  margin-top: 20px;
}

header h2 {
  font-weight: 400;
  font-size: 55px;
  font-family: "Germania One", cursive;
  line-height: 1;
  margin: 0;
  margin-top: -45px;
  color: white;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  font-family: sans-serif;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: darkred;
  margin-top: 50px;
  border-radius: 10px;
  font-family: sans-serif;
}
header a:hover {
  color: white;
  background: black;
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 24px;
  }

  header h3 {
    font-size: 15px;
  }
  header a {
    font-size: 10px;
    padding: 10px 15px;
    margin-top: 25px;
  }
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/team.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 40px;
  font-family: "Zilla Slab Highlight", cursive;
  line-height: 30px;
  margin-top: -70px;
  color: #8f0301;

  display: flex;
  justify-content: space-evenly;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Braah One", sans-serif;
  margin-top: 5px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  opacity: 0.9;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.goals {
  font-family: "Zilla Slab Highlight", cursive;
  color: gray;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  footer h3 {
    font-size: 19px;
    margin-top: -50px;
  }
  footer li {
    font-size: 12px;
  }
  footer {
    padding: 70px 0;
  }
}
